<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container w-50 mt-5" th:fragment="content">
    <h2 class="text-center">Kapcsolat</h2>
    <p class="text-center">Lépjen kapcsolatba velünk az alábbi űrlap segítségével.</p>
    <form class="mx-auto" style="max-width: 600px;">
        <div class="mb-3">
            <label for="message" class="form-label">Üzenet</label>
            <textarea class="form-control" id="message" rows="3" placeholder="Írja meg üzenetét" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Küldés</button>
    </form>
</div>
</body>
</html>