<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container mt-5" th:fragment="content">
    <h2>Adatok 3 táblából (csak felhasználónak)!</h2>
    <div class="row">
        <div class="col-6">
            <h4>Naptár</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Dátum</th>
                    <th>Szolgáltatás</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="naptar : ${naptarData}">
                    <td th:text="${#dates.format(naptar.datum, 'yyyy.MM.dd.')}"></td>
                    <td th:text="${naptar.szolgaltatas.jelentes}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h4>Lakossági igények</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Igény dátuma</th>
                    <th>Szolgáltatás</th>
                    <th>Mennyiség</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lakig : ${lakigData}">
                    <td th:text="${#dates.format(lakig.igeny, 'yyyy.MM.dd.')}"></td>
                    <td th:text="${lakig.szolgaltatas.jelentes}"></td>
                    <td th:text="${lakig.mennyiseg}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>